body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

    .master{
        display: flex;
        background-color: #06283D;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
    }




@media  (min-width: 400px){
#container{
    display:inline-block;
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 15%;
    padding: 30px;


}



#upper{
    flex-direction: space-between;
    width: 400px;
    height: 200px;
}

.location{
    width: 50px;
    height: 50px;   
    float: left;
    flex-basis: 20%;
    
    
}

p.city{
    width: 300px;
    font-weight:bolder;
    flex-basis: 60%;
}

p.temperature{
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
}

p.temp{
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
}
.search{
    width: 50px;
    height: 50px; 
    float: right;
    flex-basis: 20%;
    align-items: flex-start;
    
    
}

.weather{
    width: 150px;
    height: 150px; 
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 100px;

}

}